<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pages</key>
	<array>
		<dict>
			<key>PageContentDir</key>
			<string>1y2_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>3_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>3_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>3_3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>4_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>4_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>4_3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>5_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>6_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>6_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>7_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>7_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>8_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>8_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>9_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>9_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>9_3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>10_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>10_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>11_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>11_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>12_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>12_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>12_3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>13_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>13_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>14_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>14_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>14_3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>15_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>15_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>16_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>16_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>17_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>17_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>17_3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>18_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>18_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>19_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>20y21_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>22_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>23_1</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>23_2</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>23_3</string>
		</dict>
		<dict>
			<key>PageContentDir</key>
			<string>24_1</string>
		</dict>
	</array>
	<key>VolumeName</key>
	<string>Volume 003</string>
</dict>
</plist>
