<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
					<dict>
	                    <key>frame</key>
	                    <string>{{0,0}, {1024,769}}</string>
	                    <key>image</key>
	                    <string>assets/1.png</string>
						<key>glosary</key>
						<array>
						</array>
	               </dict>
		<dict>
			<key>frame</key>
	        <string>{{266,112}, {745,247}}</string>
	        <key>image</key>
	        <string>assets/2.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{252,257}, {168,134}}</string>
				                    <key>image</key>
				                    <string>assets/2_1.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
								<dict>
				                    <key>frame</key>
				                    <string>{{646,115}, {230,90}}</string>
				                    <key>image</key>
				                    <string>assets/2_2.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
	        <string>{{14,451}, {745,247}}</string>
	        <key>image</key>
	        <string>assets/3.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{198,357}, {626,99}}</string>
				                    <key>image</key>
				                    <string>assets/3_1.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
								<dict>
				                    <key>frame</key>
				                    <string>{{736,367}, {288,246}}</string>
				                    <key>image</key>
				                    <string>assets/3_2.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
</array>
</plist>
