<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
					<dict>
	                    <key>frame</key>
	                    <string>{{0,0}, {1025,769}}</string>
	                    <key>image</key>
	                    <string>assets/1.png</string>
						<key>glosary</key>
						<array>
						</array>
	               </dict>
		<dict>
			<key>frame</key>
	        <string>{{37,272}, {395,282}}</string>
	        <key>image</key>
	        <string>assets/2.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{46,217}, {210,115}}</string>
				                    <key>image</key>
				                    <string>assets/2_1.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
								<dict>
				                    <key>frame</key>
				                    <string>{{210,185}, {356,181}}</string>
				                    <key>image</key>
				                    <string>assets/2_2.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
	        <string>{{567,272}, {395,282}}</string>
	        <key>image</key>
	        <string>assets/3.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{628,331}, {280,108}}</string>
				                    <key>image</key>
				                    <string>assets/3_1.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
								<dict>
				                    <key>frame</key>
				                    <string>{{723,460}, {293,136}}</string>
				                    <key>image</key>
				                    <string>assets/3_2.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
</array>
</plist>
