<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<dict>
			<key>frame</key>
	        <string>{{0,0}, {1025,769}}</string>
	        <key>image</key>
	        <string>assets/1.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{66,121}, {707,258}}</string>
				                    <key>image</key>
				                    <string>assets/1_2.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
								<dict>
				                    <key>frame</key>
				                    <string>{{29,602}, {475,117}}</string>
				                    <key>image</key>
				                    <string>assets/1_4.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
	        <string>{{0,0}, {1043,791}}</string>
	        <key>image</key>
	        <string>assets/2.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{609,427}, {141,113}}</string>
				                    <key>image</key>
				                    <string>assets/2_1.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
								<dict>
				                    <key>frame</key>
				                    <string>{{662,601}, {266,46}}</string>
				                    <key>image</key>
				                    <string>assets/2_2.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
</array>
</plist>
