<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<dict>
			<key>frame</key>
	        <string>{{0,0}, {1025,769}}</string>
	        <key>image</key>
	        <string>assets/1.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{51,18}, {340,110}}</string>
				                    <key>image</key>
				                    <string>assets/1_1.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
	        <string>{{433,17}, {579,226}}</string>
	        <key>image</key>
	        <string>assets/2.png</string>
			<key>children</key>
			<array>
								<dict>
				                    <key>frame</key>
				                    <string>{{664,270}, {281,120}}</string>
				                    <key>image</key>
				                    <string>assets/2_1.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
								<dict>
				                    <key>frame</key>
				                    <string>{{16,638}, {610,104}}</string>
				                    <key>image</key>
				                    <string>assets/2_2.png</string>
									<key>glosary</key>
									<array>
									</array>
				               </dict>
			</array>
		</dict>
</array>
</plist>
